<!DOCTYPE html>
<htmlxmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
		<h2>All Teachers</h2>   
		<a href="admin">Go Back</a><br>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>DOB</th>
					<th>Gender</th>
					<th>ContactNo</th>
					<th>Email</th>
					<th>UserID</th>
					<th>Password</th>
					<th>Subject</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="teacher:${listteacher}">
					<td th:text="${teacher.id}" />
					<td th:text="${teacher.firstname}"/>
					<td th:text="${teacher.lastname}" />
					<td th:text="${teacher.dob}" />
					<td th:text="${teacher.gender}" />
					<td th:text="${teacher.contactno}" />
					<td th:text="${teacher.email}" />
					<td th:text="${teacher.subject}" />
					<td th:text="${teacher.userid}" />
					<td th:text="${teacher.password}" />
					
					<td><a th:href="@{'/tedit/'+ ${teacher.id}}" >Edit</a> 
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/tdelete/'+ ${teacher.id}}" >Delete</a>
					</td>
				</tr>
			</tbody>
		</table>



	</div>

</body>
</html>